# URL e Chave Pública Anon do Supabase
VITE_SUPABASE_URL=https://SUA-URL-AQUI.supabase.co
VITE_SUPABASE_ANON_KEY=sua-chave-anon-aqui

# Credenciais Evolution API para Envio de Mensagens Manuais
VITE_EVOLUTION_API_URL=https://SUA-API-EVOLUTION.com
VITE_EVOLUTION_API_TOKEN=seu_token_global_aqui
VITE_EVOLUTION_INSTANCE=NomeDaSuaInstancia
